.content {
    width: 100%;
    height: auto;

    max-width: 1621px;
    margin-left: auto;
    margin-right: auto;

    padding: 300px 90px 60px 90px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    gap: 20px 20px;
}

@media (max-width:780px) {
    .content {
        padding: 120px 10px 10px 10px;
        grid-template-columns: 1fr;
    }  
}

.block {
    width: 100%;
    max-width: 1441px;
    height: auto;

    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    padding: 0;
    padding-bottom: 20px;

    border: 2px solid #111;
    background-color: rgb(235, 255, 255);
    filter: saturate(80%);
    color: black;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    z-index: 1;
}

.leader-block {
    filter: saturate(80%);

    width: 100%;
    height: 50px;

    border-radius: 18px 18px 0 0;
    z-index: 1;
}

.leader-block-2 {
    filter: saturate(80%);

    width: 100%;
    height: 100px;

    border-radius: 18px 18px 0 0;
    z-index: 1;
}

.text-block {
    width: 100%;
    height: auto;

    padding: 30px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.bar-down {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;

    background: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(76, 76, 156);
}

a:hover {
    color: rgb(107, 107, 216);
}

.link {
    height: 40px;

    background: #111;
    display: flex;

    border-radius: 10px;
    outline-offset: 2px;
}

.click {width: 96px;}
.about {width: 91px;}

.link-in {
    width: auto;
    height: 40px;

    background-color: var(--button);
    border: 1px solid #111;
    color: #111;
    font-family: 'Montserrat', sans-serif;
     filter: saturate(80%);

    border-radius: 10px;
    transform: translate(-3px ,-3px);

    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.link:active .link-in {
    transform: translate(0,-2px);
}

.block2 {
    width: 100%;
    max-width: 1441px;
    height: auto;

    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    padding: 0;
    padding-bottom: 20px;

    border: 2px solid #111;
    background-color: rgb(235, 255, 255);
    filter: saturate(80%);
    color: black;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    z-index: 1;

    position: sticky;
    top: 70px;
}

@media (max-width:780px) {
    .block2 {
        position: relative;
        top:0;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (min-width:1441px) {
    .block {
        border: 3px solid #111;
    }

    .block2 {
        border: 3px solid #111;
    }
}

.eme-1 {
    background-color: rgb(255, 0, 0);
}

.eme-2 {
    background-image: url(../static/burble.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(1, 141, 255, 0.603);

    animation: surfe 27s ease infinite;
}

.eme-bur {
    width: 100%;
    height: 100%;

    background-image: url(../static/burblehero.svg);
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position: 20px 0;
}

@keyframes surfe {
    0% {
        background-position: 0% 100%;
    }
    51% {
        background-position: -100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.eme-hero {
    background-image: var(--bgheader);
}

.bg-footer {
    background-image: var(--bgfooter);
}

.neo {
    width:100%;
    max-width: 1621px;

    height: 670px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 90px;
    padding-right: 90px;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 100px;

}

.solid-text {
    width: 100%;
    max-width: 1441px;    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 30px 30px;
    background-color: var(--window);
    user-select: none;
}

.d3 {
    width: 100%;
    text-align: center;
    position: absolute;
    color:azure;

    transition: 0.2s ease-out;
    transform: translate(-4px,-4px);
}

.d3:hover {
    transform: translate(0,0);
}

@media (max-width:780px) {
    .neo {
        padding-left: 0;
        padding-right: 0; 
        font-size: 90px;
    }

    .solid-text {
        padding: 30px 10px;
       
        border-radius: 300px 2px;
    }
}

@media (max-width:950px ) { 
    .neo {
        font-size: 90px;
    }
}
footer {

    width: 100%;
    max-width: 1621px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    padding-left: 90px;
    padding-right: 90px;

    will-change: transform;

}

.wrap-footer {
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    
    border-radius: 20px 20px 0 0;

    color:azure;

    padding-top: 30px;
    padding-bottom: 40px;

    text-align: center;

    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    gap: 20px 0px;
    transition: 0.2s ease-out;
    
}

@media (max-width:1440px) {
    .neo {
        padding-bottom: 200px;
    }

    footer {
        position: fixed;
        bottom: 0;
        pointer-events: none;
    }

    .wrap-footer{
        pointer-events: none;
        transform: translate(0,50px);
        opacity: 0;
    }

    .endscroll {
        pointer-events: auto;
        opacity: 1;
        transform: translate(0,0);
    }/*Procede a ocultarse al llegar al final de la página*/
    
}

.footer-text {
    padding-left: 30px;
    padding-right: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

.logo-2 {
    width: 100%;
    height: auto;

    text-align: center;
}

.text-2 {
    font-family: 'Josefin Sans', sans-serif;

    width: 100%;
    height: 100%;

    padding-top: 8px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 60px;
      text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    transform: translate(0, 10px);
}

@media (max-width:990px) { 
    .footer-text {
       padding-left:19px;
    }
}

@media (max-width:780px) {
    footer {
        padding: 0 1px 0 1px;
    }

    .wrap-footer {
        padding-left: 20px;
        padding-right: 20px;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .footer-text {
        padding-left: 0;
        padding-right: 0;
        text-align: justify;
    }

    .text-2 {
        font-size: 40px;
        transform: translate(0,0);
    }
}
