@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979..2050&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');/**/


* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    --Montserrat: 'Montserrat', sans-serif;
    --Montserrat-italic: 'Montserrat', italic;
    --Inter-900: 'Inter', 900;
    --Inter: 'Inter', sans-serif;
    --ClimateCrisis: 'Climate Crisis', sans-serif;
    --Rubik: 'Rubik', sans-serif;
    --Rubik-italic: 'Rubik', italic;
}

*,::after,::before {box-sizing: border-box;}

html,body {height: 100%;}

::selection {background-color: var(--navi-blue);}

input,button,textarea,select {font: inherit;}

a {text-decoration: none;}

button {border: none;}

br {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

img, svg {
    display: block;
    max-width: 100%;
}

img {
    height: 100%;
    transition: 0.2s ease-out;
}

body {
    background: var(--background);
    color: var(--black);
}

body {
    --navi-blue: #1a69e07c;
    --white: #ffffff;
    --black: #000000;

    --header: #000000;
    --header-on: #000000;

    --background: #f0f0f0;
    --bg-box: #3a3939;
    
    --shoppify: #436702;
    --shoppify-on: #4a7b02;

    --bar-filter: #545454;
    --bar-filter-on: rgb(0, 0, 0);
    --button-buy: #000000;
    --button-buy-on: #404040;
}

@media (max-width: 780px) {
.scroll-frost {
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
}


.effect-see {
    transform: scale(0.98);
    transition: 0.2s ease-out;
    transition-property: transform;
    transition-delay: 50ms;
}

content {transition-delay: 50ms;}

.carrusel-img::-webkit-scrollbar {display: none;}
.carrusel-nav::-webkit-scrollbar {display: none;}
