.Pop {
    width: 100%;
    height: 100%;

    background-color: #0000006e;
    
    position: fixed;
    display: flex;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    z-index: 4;
    transition: all 0.3s ease-out;
}

.Pop-out {
    pointer-events:all;
    opacity: 1;
    visibility: visible;
}

.flex-pop {
    display: flex;
    justify-content: center;
}

.Pop-center {
    margin-bottom: 10px;
    text-align: center;
}

.Pop-text {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.Pop-center-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.Pop-icon {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;

    transform: translate(0, -75px);
    pointer-events: none;

}

.margin-pop-close {
    width: 100%;
    max-width: 1100px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;

    z-index: 6;
    position: fixed;
}

.Pop-Close {
    width: fit-content;
    height: 41px;

    padding: 20px 10px;

    font-family: var(--Montserrat);
    font-size: 15px;

    background-color: rgb(46, 46, 46);
    border: 2px solid gray;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    position: fixed;
    z-index: 6;

    top: 0;
    transform: translateY(22px) scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    transition: 0.195s cubic-bezier(.4,0,.2,1);
}

.Pop-Close-Up {
    transform: translateY(22px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.Pop-Close:hover{background-color: #1e1e1e; border: 2px solid var(--white);}
@media (max-width:780px) { 
    .Pop {backdrop-filter: blur(1rem);}
    .margin-pop-close {padding: 0 15px;}
    .Pop-Close-Up {transform: translateY(22px);}
    .Pop-Close:hover{background-color: rgb(46, 46, 46); border: 2px solid gray;}
    .Pop-Close:active{background-color: #1e1e1e; border: 2px solid var(--white);}
}

.Pop-burble {
    width: 100%;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(0, -50px);
}

.Pop-Marque {
    width: 50ch;
    max-width: 720px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    border: none;

    display: flex;
    position: fixed;

    bottom: 0;
    border-radius: 25px;

    z-index: 5;

    transform: translate(0,-40px);
    opacity: 0;
    visibility: hidden;
    
    filter: blur(1.37px);
    transition: 0.201s, cubic-bezier cubic-bezier(0.5, 0.11, 0.13, 1);

    padding: 0 25px 25px 25px;
    flex-direction: column;
    pointer-events: none;
    
    box-shadow: none;
    border: 2px solid var(--bar-pop);

    background-color: white;
    color: #151515;
    font-family: var(--Montserrat);
    font-size: 15px;
    line-height: 1.4;
}

.Pop-Marque-Out {
    transform: translate(0,-20px);
    opacity: 1;
      visibility: visible;
    pointer-events: all;

    filter: blur(0px);
    border:none;
    border-radius: 25px 25px;
}

.Pop-User {
    width: 50ch;
    max-width: 720px;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    border: none;

    display: flex;
    position: fixed;

    inset: 0;
    border-radius: 25px;

    z-index: 5;

    transform: scale(0.98) translate(0, 50px);
    opacity: 0;
    visibility: hidden;
    
    filter: blur(1.37px);
    transition: 0.201s, cubic-bezier cubic-bezier(0.5, 0.11, 0.13, 1);

    padding: 0 25px 25px 25px;
    flex-direction: column;
    pointer-events: none;
    
    box-shadow: none;
    border: 2px solid var(--bar-pop);

    background-color: white;
    color: #151515;
    font-family: var(--Montserrat);
    font-size: 15px;
    line-height: 1.4;
}

.Pop-User-Out {
    transform: scale(1) translate(0, 50px);
    opacity: 1;
      visibility: visible;
    pointer-events: all;

    filter: blur(0px);
    border:none;
    border-radius: 25px 25px;
}

@media (max-width: 780px) {
    .Pop-Marque{ 
         width: 100%;
        height: auto;

        bottom: 0;
        border-radius: 35px 35px 0 0;
        padding: 0 25px 40px 25px;

        transform: translate(0,267px);
        filter: blur(2.75px);
        transition:0.300s, cubic-bezier cubic-bezier(0.41, 0.1, 0.13, 1);
    }
    .Pop-User {
        width: 100%;
        height: auto;

        bottom: 0;
        border-radius: 35px 35px 0 0;
        padding: 0 25px 40px 25px;

        transform: translate(0,267px);
        filter: blur(2.75px);
        transition:0.300s, cubic-bezier cubic-bezier(0.41, 0.1, 0.13, 1);
        inset: auto auto 0 0;
    }

    .Pop-Marque-Out {
        transform: translate(0,0);
        opacity: 1;
        box-shadow: none;
        filter: blur(0);
    }
    .Pop-User-Out{
        transform: translate(0,0);
        opacity: 1;
        box-shadow: none;
        filter: blur(0);
    }
}

.box-filter {
    transform: translate(101px, 177px) scale(1);
    border-radius: 30px;
}

.wt-bg {
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.box-order {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 7px;
}

.box-nav {
    width: 270px;
    height: auto;

    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;

    border: 2px solid rgb(210, 210, 210);
    color: #000000;

    border-radius: 22px;
    padding: 8px;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.box-nav:hover {background-color: rgb(229, 229, 229);}
.box-nav:active {border: 2px solid rgb(66, 66, 66);}

@media (max-width: 780px) {
    .box-nav {width: 100%;}
    .box-nav:hover {background-color: rgb(243, 243, 243);}
    .box-nav:active {background-color: rgb(229, 229, 229); border: 2px solid rgb(66, 66, 66);}
}

.first-box {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
}

.icon-order {
    font-size: 30px;
    font-family: var(--Montserrat);
    font-weight: 800;
    display: flex;
    align-items: flex-end;
}

.n-1 {font-size: 30px;}
.n-2 {font-size: 25px;}
.n-3 {font-size: 21px;}

.sort-btn .check-order {
    width: 25px;
    height: 25px;

    border: 2px solid rgb(210, 210, 210);
    border-radius: 50%;

    background-color: rgb(184, 184, 184);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;
}

.sort-btn.active {
    border: 2px solid #56C9FF;
}

.sort-btn.active .check-order {
    background-color: rgb(0, 128, 255);
}

.second-box {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    font-family: var(--Montserrat) ;
    font-size: 15px;
    font-weight: 500;
}

.text-area {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {text-decoration: none; border: none;}

.email-type, .pass-type {
    width: 100%;
    height: 50px;

    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    padding: 16px;
     font-size: 1rem;
}

.pass-type {
    border-radius: 20px 0 0 20px;
}

.flex-text {
    width: auto;
    display: flex;
}

.pass-btn {
    width: 50px;
    height: 50px;
    background-color: rgb(212, 212, 212);
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-rev {
    width: 100%;
    height: 50px;

    border-radius: 50px;

    background-color: black;
    color: white;

    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 14px;

    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.post-rev:hover{
    background-color: #151515;

}

.post-rev-cre {
    width: 100%;
    height: 50px;

    border-radius: 50px;

    background-color: var(--shoppify);
    color: white;
    border: 2px solid #7bb90c;

    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 14px;

    margin-top: 20px;
}

.link-rev {
    width: 100%;
    height: 30px;

    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 14px;
    color: #1e1e1e;

    text-decoration: dashed;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;

    cursor: pointer;
}

.link-rev:hover {
    text-decoration:underline;
    color: #4c4c4c;
}

.Pop-Product {
    width: 87ch;
    max-width: 1070px;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    border: none;

    display: flex;
    position: fixed;

    inset: 0;
    border-radius: 25px;

    z-index: 5;

    transform: scale(0.98) translate(0, 0);
    opacity: 0;
    visibility: hidden;
    
    filter: blur(1.37px);
    transition: 0.201s, cubic-bezier cubic-bezier(0.5, 0.11, 0.13, 1);

    padding: 0;
    flex-direction: column;
    pointer-events: none;
    
    box-shadow: none;
    border: 2px solid var(--bar-pop);

    background-color: white;
    color: #151515;
    font-family: var(--Montserrat);
    font-size: 15px;
    line-height: 1.4;
}

.Pop-Product-Out {
    transform: scale(1) translate(0, 0);
    opacity: 1;
      visibility: visible;
    pointer-events: all;

    filter: blur(0px);
    border:none;
    border-radius: 25px 25px;
}

@media (max-width: 780px) {
    .Pop-Product {
        width: 100%;
        height: auto;

        bottom: 0;
        border-radius: 35px 35px 0 0;
        padding: 0;

        transform: translate(0,267px);
        filter: blur(2.75px);
        transition:0.300s, cubic-bezier cubic-bezier(0.41, 0.1, 0.13, 1);
        inset: auto auto 0 0;
    }

    .Pop-Product-Out{
        transform: translate(0,0);
        opacity: 1;
        box-shadow: none;
        filter: blur(0);
    }
}

.Raw-Product {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-out;
}

@media (max-width: 780px) {
    .Raw-Product {
        flex-direction: column;
        height: auto;
    }
}

.visual-product {
    width: 525px;
    height: 100%;

    background-color: #e7ebff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 140px;

    border-radius: 20px 0 0 20px;
    transition: 0.2s ease-out;

    user-select: none;
}

@media (max-width: 780px) {
    .visual-product {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;

        width: 100%;
        height: 209px;
        border-radius: 35px 35px 0 0;

        background-color: #ffffff;
    }
}

.box-nav-carrusel {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-flip {
    width: 50px;
    height: 50px;

    position: absolute;
    transform: translate(259px, 12px);

    border-radius: 50%;
    z-index: 2;

    transition: 0.2s ease-out;

    background-color: #e7ebff;
    border: 1px solid black;
    display: flex;
}

.button-flip:hover {background-color: #a8b6ff;}

.Flip-btnr-o {transform: translate(525px, 12px);}

@media (max-width: 780px) {
    .button-flip {display: none;}
}

.carrusel-img {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    overflow: auto;
    position: relative;
    scroll-snap-type: x mandatory;

    transition: 0.2s ease-out;
}

.carrusel-nav {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    overflow: auto;
    position: relative;

    padding: 20px;
    gap: 10px;
}

@media (max-width: 780px) {
    .box-nav-carrusel {display: none;}
    .carrusel-nav {
        display: none;
    }
}

.visual-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;

    object-fit: contain;
}

.nav-img {
    width: 130px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e7ebff;
    border-radius: 20px;

    transition: 0.2s ease-out;
    object-fit: cover;

    border: 1px solid black;
    cursor: pointer;
}

.nav-img:hover {background-color: #a8b6ff;}

.info-product {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    color: #000;

    border-radius: 0 20px 20px 0;

    padding: 30px;
    box-sizing: border-box;
    transition: 0.3s ease-out;
}

.info-product h2 {
    font-family: var(--Montserrat);
    font-weight: 800;
    font-size: 29px;
    color: #000;
}

.Flip-o {
    width: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

 .Flip-o2 {
        opacity: 0;
}

.Flip-c {
    background-color: white;
}

@media (max-width: 780px) {
    .Flip-o {
        opacity: 1;
        width: 100%;
    }
    .Flip-c {
        background-color: #e7ebff;
        border-radius: 20px 20px 0 0;
    }

    .Flip-o2 {
        opacity: 0;
    }
}

.button-left, .button-right {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    position: fixed;
    z-index: 2;
    transition: 0.2s ease-out;

    border: 1px solid black;
    background-color: #e7ebff;
    cursor: pointer;
}

.button-left:hover, .button-right:hover {
    background-color: #a8b6ff;
}

.button-left::before {
    content: '';
    width: 50px;
    height: 122px;

    position: absolute;
    transform: translate(-10px, 0);
}

.button-right::before {
    content: '';
    width: 50px;
    height: 122px;

    position: absolute;
    transform: translate(17px, 0);
}

.Flip-btn-o {
    opacity: 0;
    pointer-events: none;
}

.button-left {left: 10px;}
.button-right {transform: translate(117px, 0);}

.icon-o-right, .icon-o-left {
    opacity: 0;
    pointer-events: none;
}

.mini-carrusel-dots {
    width: 100%;
    height: 30px;

    display: none;
    align-items: center;
    justify-content: center;
}

.dot-img {
    width: 10px;
    height: 10px;

    background-color: #7c7c7c;
    border-radius: 50%;
    margin: 0 5px;

    cursor: pointer;
}

.dot-img.active {background-color: #000000;}

@media (max-width: 780px) {.mini-carrusel-dots {display: flex;}}

.select-size {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.size-text, .quantity-text, .price-text {
    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 16px;
    color: #000;
    
}

.size-box {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: start;

    gap: 13px;
    border-radius: 20px;
}

.size-btn {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--Montserrat);
    font-weight: 600;
    font-size: 16px;

    border-radius: 50%;
    cursor: pointer;

    transition: 0.2s ease-out;

    background-color: #d7d7d7;
    border: 1px solid black;
    color: #000;
}

.size-btn:hover {background-color: #a8b6ff;}
.size-btn.active {
    background-color: #000000;
    border: 2.5px solid #000000;
    color: #fff;

    box-shadow: inset 1px 1px 1px 1px rgb(231 235 255), inset -1px -1px 1px 1px rgb(144 159 236);
}

.quantity-product {
    width: 100%;
    height: auto;

    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.quantity-box {
    width: 168px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    border-radius: 50px;
    border: 1px solid #000000;
    padding: 1px;
}

.quantity-btn {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--Montserrat);
    font-weight: 600;
    font-size: 16px;

    border-radius: 50%;
    cursor: pointer;

    background-color: #ffffff00;
    transition: 0.2s ease-out;
}

.quantity-btn:hover {background-color: #ffffff00;}
.quantity-btn:active {background-color: #a8b6ff;}

.n-active {
    transform: scale(1.2);
    transition: 0.2s ease-out;
}

.price-product {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 20px;

    color: #000;

    margin-top: 25%;
}

@media (max-width: 780px) {
    .price-product {
        margin-top: 20px;
    }
 }

.price-btn {
    width: 179px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 18px;

    color: #fff;
    background-color: #000000;

    border-radius: 30px;
    cursor: pointer;

    transition: 0.2s ease-out;
}

.price-btn:hover {
    background-color: #393939;
}